name: format

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  goformat:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.25.0'

      - name: Check Go Version
        run: go version

      - name: Link workspace with GOPATH
        continue-on-error: false
        run: |
          sudo mkdir -vp $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo chown -R ${USER}:users $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo chmod ug+rw $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo ln -svf $(pwd) ${GOPATH}/src/github.com/${GITHUB_REPOSITORY}

      - name: Check out tools into the Go module directory
        continue-on-error: false
        run: |
          go install golang.org/x/tools/cmd/goimports@latest

      - name: Update vendor or dependencies
        continue-on-error: false
        run: |
          go mod download all
          go mod tidy
          go mod vendor

      - name: Check goFmt & goImport
        continue-on-error: false
        run: |
          for gofile in $(find . -type f -name '*.go' | grep -v '/vendor/' | grep -v '/test/' );
          do
            echo -e "Checking Format file ${gofile}..."
            go fmt ${gofile}
            goimports -w ${gofile}
          done
          if [ "$(git ls-files -m | grep -vP "^$" | grep -c '\.go')" != "0" ]
          then
            echo -e "\n\nWrong format file:\n"
            echo -e "$(git ls-files -m | grep -vP "^$" | grep '\.go')"
          fi
