name: securego-gosec

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  secu-check:
    runs-on: ubuntu-latest
    steps:

      - name: Check out code into the Go module directory
        uses: actions/checkout@v3

      - name: Set up Go 1.x
        uses: actions/setup-go@v4
        with:
          go-version: '>=1.25.0'

      - name: Check Go Version
        run: go version

      - name: Link workspace with GOPATH
        continue-on-error: false
        run: |
          sudo mkdir -vp $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo chown -R ${USER}:users $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo chmod ug+rw $(dirname ${GOPATH}/src/github.com/${GITHUB_REPOSITORY})
          sudo ln -svf $(pwd) ${GOPATH}/src/github.com/${GITHUB_REPOSITORY}

      - name: Update vendor or dependencies
        continue-on-error: false
        run: |
          go mod download all
          go mod tidy
          go mod vendor

      - name: Check goSecu
        continue-on-error: false
        env:
          GOOS: linux
          GOARCH: amd64
          CGO_ENABLED: 1
        uses: securego/gosec@master
        with:
          args: -sort ./...
